<!--The content below is only a placeholder and can be replaced.-->

<mat-card class="component-wrapper" fxLayout="column" fxLayoutAlign="center center">

  <mat-card-title class='component-header'>Drag Stepper Example</mat-card-title>

  <drag-stepper fxLayout="column" class="stepper" ngClass.xs="mobile">

    <cdk-step>
      <step1 class="step-as-component"></step1>
    </cdk-step>

    <cdk-step> Step 2<br>Nothing here</cdk-step>

    <cdk-step> Step 3<br>Nothing here</cdk-step>

    <cdk-step class="step">

      <div fxLayout="column" fxLayoutAlign="start center" class="step-wrapper">

        <div>Step 4</div>

        <div fxLayout="row wrap" fxLayoutAlign="space-around space-around" class="step-buttons-wrapper">

          <mat-card class="step-button" fxLayout="column" fxLayoutAlign="center center" (click)="prev()">

            <mat-card-title class="step-button-title" fxLayout="row" fxLayoutAlign="center center">
              <span> Press me to go to previous step</span>
            </mat-card-title>

            <mat-icon class="step-button-icon">arrow_back</mat-icon>

          </mat-card>
        </div>
      </div>

    </cdk-step>

    <cdk-step class="step">

      <div fxLayout="column" fxLayoutAlign="start center" class="step-wrapper">

        <div>Step 5</div>

        <div fxLayout="row wrap" fxLayoutAlign="space-around space-around" class="step-buttons-wrapper">

          <mat-card class="step-button" fxLayout="column" fxLayoutAlign="center center" (click)="gotoHome()">

            <mat-card-title class="step-button-title" fxLayout="row" fxLayoutAlign="center center">
              <span>Press me to go to Home</span>
            </mat-card-title>

            <mat-icon class="step-button-icon">home</mat-icon>

          </mat-card>

          <mat-card class="step-button" fxLayout="column" fxLayoutAlign="center center" (click)="gotoThree()">

            <mat-card-title class="step-button-title" fxLayout="row" fxLayoutAlign="center center">
              <span> Press me to go to step:</span>
            </mat-card-title>

            <div class="step-button-icon">3</div>

          </mat-card>

        </div>

      </div>

    </cdk-step>

    <cdk-step> Step 6<br>Nothing here</cdk-step>

  </drag-stepper>

</mat-card>
